
            :root{
                  --primary-color:#292f32;
                  --box-shadow:10px 10px 20px rgba(48, 48, 48, 0.25);
            }
        @media (min-width:360px){
                  .work-container {
                       display: flex;
                       justify-content: center;    
                  }
            }

           body {
                 font-family: 'Work Sans', sans-serif;;
           }

           .line {
                 width: 80px;
                 border: 1px solid #292f32;
                 display: inline-block;
           }
           .hero h1 {
                  margin-top: 90px;
                  margin-left: 80px;
                  margin-bottom: 90px;
                  font-family: 'Space Grotesk', sans-serif;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 80px;
                  line-height: 88px;
           }
           .designer{
                 color: white;
                  text-shadow: -1px 0 #292f32, 0 1px #292f32, 1px 0 #292f32, 0 -1px #292f32;
           }
           .developer{
                 color: var(--primary-color);
           }
            .cta {
                 width: 285px;
                 border: none;
                 box-shadow: 10px 10px 20px rgba(48, 48, 48, 0.25);
                 margin: 0 auto;
                 display: block;
                 background-color: #EE8275;
                  color: white;
           }
         .cta:hover{
               background-color: white;
               border: 2px solid #EE8275;
               color: #EE8275
         }
           .work-marker{
                 text-align: end;
                 margin-top: 90px;
           }
           .row{
                 margin-top: 30px;
           }
            .work-img {
                  box-shadow: var(--box-shadow);
            }
           .about{
                 margin-top: 90px;
           }
           .about-container{
                 margin-top: 30px;
                 background-color: var(--primary-color);
                 color: white;
                 padding: 80px;
                 text-align: center;
                 margin-bottom: 30px;
           }
           .profile-pic{
                 border-radius: 56px;
                 width: 144px;
                 display: block;
                 margin: 0 auto;
                 margin-bottom: 30px;
           }
           .footer{
                 text-align: center;
                 margin: 30px 0px;
           }
           .linkedin {
                 text-decoration: none;
                 color:#EE8275;
           }
           .linkedin:hover{
                 color: #EE8275;
                 text-decoration: underline;
           }